MONGO_URI=mongodb://localhost:27017
MONGO_DB_NAME=yoga
OPENAI_API_KEY=example

PROMPT_VERSION=v4
GOOGLE_CLIENT_ID=google-client-id-for-signin
GOOGLE_CLIENT_SECRET=google-client-secret
JWT_SECRET=jwt-secret
SENTRY_DSN=sentry-dsn-for-errors